# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/node_modules/*
!/node_modules/
!/node_modules/@dudeofawesome/
/node_modules/@dudeofawesome/open-resume
/node_modules/@dudeofawesome/open-resume-src
/node_modules/@dudeofawesome/eslint-config/
/node_modules/@dudeofawesome/eslint-config-jest/
/node_modules/@dudeofawesome/eslint-config-node/
/node_modules/@dudeofawesome/eslint-config-typescript/
/node_modules/@dudeofawesome/code-style/*
!/node_modules/@dudeofawesome/code-style/.editorconfig
.pnp/
.pnp.js

# testing
coverage/

# build
out/
build/
public/*.pdf
.sass-cache/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# NextJS
.vercel/
.next/

# typescript
*.tsbuildinfo
