@use 'sass:math';
@import '../styles/variables';

.content {
  grid-column: 2;
  grid-row: 3;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .section_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    margin: unset;
    padding: unset;

    .item {
      .description li {
        position: relative;

        &::before {
          $bullet-size: 0.25rem;

          content: ' ';
          display: block;
          position: absolute;
          top: 0.45rem;
          left: -1rem;
          width: $bullet-size;
          height: $bullet-size;
          border-radius: math.div($bullet-size, 2);
          background-color: var(--color-text);
        }
      }

      .description {
        margin-top: 0.1rem;
        margin-left: 2rem;
        list-style-type: none;
        padding: unset;
      }
    }
  }

  .title_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-weight: 700;
    }

    .location_duration {
      color: var(--color-text-dim);
    }
  }

  header {
    margin-bottom: 0.3rem;

    font-size: var(--font-size-section-header);
    color: var(--color-primary);
    text-transform: uppercase;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .content {
    color: var(--color-dark-text);

    .title_line .location_duration {
      color: var(--color-dark-text-dim);
    }

    ul li::before {
      background-color: var(--color-dark-text) !important;
    }
  }
}

@media (max-width: $max-page-width) {
  .content {
    min-height: 100%;
  }
}

@media screen and (max-width: $small-large-break) {
  .content {
    padding: 1rem 0.5rem;
  }
}
