@import 'variables';
@import 'functions';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@534&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  @include css-vars();
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', Roboto, sans-serif;

  background-color: var(--color-background);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: var(--color-primary-muted);
  color: var(--color-dark-text);
}

a {
  color: inherit;
  // text-decoration: none;

  transition: color $transition-speed;

  &:hover {
    color: var(--color-primary-muted);
  }
}

* {
  box-sizing: border-box;
}

p {
  margin: unset;
}

address {
  font-style: normal;
}

@media screen {
  .print-only {
    display: none !important;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background-color: var(--colors-background-dark);
  }
}

@media screen and (min-width: $small-large-break) {
  .large-screen-only {
    display: unset;
  }

  .small-screen-only {
    display: none;
  }
}

@media screen and (max-width: $small-large-break) {
  .large-screen-only {
    display: none;
  }

  .small-screen-only {
    display: unset;
  }

  html {
    background-color: var(--color-paper-background);
  }
}

@media screen and (max-width: $small-large-break) and (prefers-color-scheme: dark) {
  html {
    background-color: var(--color-dark-paper-background);
  }
}

@media print {
  @page {
    margin: 0 !important;
    size: letter portrait;
    marks: none;
  }

  html {
    color-adjust: exact;
  }

  html,
  body {
    background-color: unset;
  }

  .print-only {
    display: initial;
    display: unset;
  }

  .no-print {
    display: none;
  }
}
