@media screen {
  .print-only {
    display: none !important;
  }
}

@media screen and (min-width: $small-large-break) {
  .large-screen-only {
    display: unset;
  }

  .small-screen-only {
    display: none;
  }
}

@media screen and (max-width: $small-large-break) {
  .large-screen-only {
    display: none;
  }

  .small-screen-only {
    display: unset;
  }
}

@media print {
  .print_only {
    display: initial;
    display: unset;
  }

  .no_print {
    display: none;
  }
}
